#quiz {
  border: dotted salmon 1px;
  width: 80%;
  margin: 10%;
}

#question {
  height: 40%;
  border-bottom: mediumslateblue 1px;
}

.option {
  cursor: pointer;
  padding: 20px;
  border-bottom: solid mediumslateblue 1px;
}

.option:hover {
  background-color: lightgray;
}

#correct {
  background-color: lightgreen;
}

#wrong {
  background-color: #cc0000;
}

#score {
  background-color: dimgrey;
  padding: 5px;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  font-size: 200%;
}

#final-score {
  display: none;
  margin: 10% 35%;
  width: 30%;
  padding: 30px;
  background-color: lightseagreen;
  text-align: center;
  font-size: 300%;
}