<!doctype html>
<html lang="en">

<head>
  <title>Test your algorithm knowledge skill</title>
  <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
  <script src="{{ url_for("static", filename="jquery.js") }}"></script>
</head>

<body>
  <section id="final-score">
    <p>You scored <span id="final-correct">0</span>/<span id="final-total">0</span></p>
  </section>

  <section id="quiz">
    <section id="question">
      <label for="question-text">Question</label>
      <div id="question-text"></div>
    </section>

    <section id="options"></section>
</section>
<section id="score">
    <p><span id="answer-correct">0</span>/<span id="answer-total">0</span>
  </section>

  <!-- <script src="{{ url_for("static", filename="quiz.js") }}"></script> -->
  <script src="{{ url_for("static", filename="script.js") }}"></script>

</body>

</html>